footer{
    padding: 25px 8%;
    h2
    {
        font-size: 1rem;
        text-transform: uppercase;
    }
    .footer__container{
        display: flex;
        justify-content: space-between;
    }
    .link{
        color: black;
        text-decoration: none;
    }
    .link:hover{
        color: #FF8E3C;
    }
}
.footer__column{
    margin-right: 10px;
}
.footer__copyright{
    width: 125px;
    &--text{
        display: none;
    }       
}

.links{
    &__list{
        list-style-type: none;
        padding: 0;
    }
}

@media (max-width: 1024px) {
    .footer{
        padding: 25px 30px;
    }
    .footer__container{
        flex-wrap: wrap;
    }
}
@media (max-width: 525px){
    footer{
        padding: 25px 10px;
    }
    .footer{
        &__copyright{
            display: none;
        }
        &__copyright--text{
            display: block;
            text-align: center;
            color: #FF8E3C;
        }
    }
}